OPENAI_API_KEY=""
GOOGLE_API_KEY=""

GENAI_MODEL_PRIMARY="gemini-2.5-pro"
GENAI_MODEL_TERTIARY="gemini-2.5-flash"
GENAI_MODEL_SECONDARY="gemini-2.0-flash"

GENAI_MODEL_PRIMARY="gpt-4.1-mini"
GENAI_MODEL_SECONDARY="gpt-4o"
GENAI_MODEL_TERTIARY="gpt-4o-mini"